@model OU3.Models.MovieLoanViewModel

@{
    ViewData["Title"] = "SelectMoviesAndLoans";
}

<h1>Movies and Loans</h1>

<h2>Movies</h2>
<p>
    <a asp-action="InsertMovie" asp-controller="Movie" class="btn btn-primary">Create New</a>
</p>

<p></p>
<p></p>

<form asp-action="FilterByDirector" method="get">
    <select id="Director" name="director">
        @foreach (var director in Model.Movies.Select(m => m.Director).Distinct())
        {
            <option value="@director">@director</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<form asp-action="SearchMovies" method="get">
    <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="Search for movies..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>Film ID</th>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th>Copies Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.FilmID</td>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Year</td>
                <td>@movie.CopiesAvailable</td>
                <td>
                    @Html.ActionLink("Edit", "EditMovie", "Movie", new { id = movie.FilmID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "DeleteMovie", "Movie", new { id = movie.FilmID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>


<p></p>
<p></p>


<h2>Loans</h2>
<p>
    <a asp-action="InsertLoan" asp-controller="Loan" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Film ID</th>
            <th>Borrower</th>
            <th>Loan Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.Loans)
        {
            <tr>
                <td>@loan.LoanID</td>
                <td>@loan.FilmID</td>
                <td>@loan.BorrowerName</td>
                <td>@loan.LoanDate.ToString("yyyy-MM-dd")</td>
                <td>@loan.ReturnDate?.ToString("yyyy-MM-dd")</td>
                <td>
                    @Html.ActionLink("Edit", "EditLoan", "Loan", new { id = loan.LoanID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "DeleteLoan", "Loan", new { id = loan.LoanID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
