@model IEnumerable<OU3.Models.Loan>

@{
    ViewData["Title"] = "Select Loans";
}

<h1>Select Loans</h1>

<p>
    <a asp-action="InsertLoan">Create New Loan</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerName)
                </td>
                <td>
                    @item.LoanDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.ReturnDate?.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditLoan", "Loan", new { id = item.LoanID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LoanID }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
